@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: #f9fbfc;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


li {
    list-style: none;
}

.wrapper {    
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 1.5rem;
}

button {
    border: none;
    cursor: pointer;
    margin-inline: auto;
}

section {
    padding-block: 7rem;
}

.title {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    position: relative;
    display: inline-block;
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%; 
    height: 0.6rem; 
    background-color: #000; 
}

.ico {
    width: 2rem;
}

/* HEADER */

header {
    width: 100%;
    position: fixed;
    background: white;
    box-shadow: 0 4px 6px 0 #888;
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    z-index: 100;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
}

.header_logo img {
    display: flex;
    align-items: center;
    width: 5rem;
    margin-right: 0.5rem;
}

.header_logo a {
    display: flex;
    align-items: center;
    color: black;
}

.mobile_btn img {
    display: flex;
    align-items: center;
    width: 5rem;

    padding-top: 0.5rem;
}

.header_aside {
    display: flex;
    display: none;
}

.header_nav {
    display: flex;
    font-size: 18px;
}

.header_nav ul {
    display: flex;
}

.header_nav ul li {
    display: flex;
    padding-right: 1rem;
}

.header_nav ul li:last-child {
    padding-right: 0; 
}

.header_nav ul li a {
    color: black;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
}

.header_nav ul li a:hover {
    background-color: #f6f6f6;
    border-radius: 1rem;
}

.mobile_btn button {
    background: none;
}

.mobile-nav {
    display: none;
}

.open {
    display: block;
}

.nav_item {
    color: black;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.nav_item a {
    color: black;
}

/* HERO-SECTION */

#hero-section {
    background-color: #f6f6f6;
    padding-block: 10rem;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-text {
    padding-bottom: 3rem;
}

.hero-text h1 {
    font-size: 4.2rem;
    padding-block: 3rem;
    text-transform: uppercase;
}

.hero-text h2 {
    font-size: 2.8rem;
}

.hero-img {
    display: none;
    padding-bottom: 3rem;
}

.hero-btn {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}

.hero-btn button {
    width: 50%;
    height: 5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    color: white;
    background-color: #474a51;
    font-weight: 900;
    text-transform: uppercase;
}

.hero-btn button:hover {
    opacity: 0.8;
}

.scrolldown {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-4rem) translateX(-50%) rotate(45deg);
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 0.2rem solid black;
    border-right: 0.2rem solid black;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}


.scrolldown span:nth-child(1) {
    transform: translate(0,0);
    animation-delay: 0.2s;

}

.scrolldown span:nth-child(2) {
    transform: translate(1.5rem, 1.5rem);
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        top: -0.5rem;
        left: -0.5rem;
        opacity: 0;
    }
    25% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    50%, 100% {
        top: -0.5rem;
        left: -0.5rem;
        opacity: 0;
    }
}

/* ABOUT */

.about-img img {
    border-radius: 3rem;
    margin-bottom: 3rem;
    max-width: 80%;
}

.about-text p {
    margin-bottom: 3rem;
    font-size: 2rem;
}

/* PROJECTS */

#projects {
    background-color: #f6f6f6;
}

.project-base {
    border-bottom: 2px solid #474a51;
    padding-block: 3rem;
}

.project-img a img {
    width: 75%;
    margin-bottom: 3rem;
}

.project-text h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.project-text p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project-text h4 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.project-text button {
    margin-bottom: 2rem;
    width: 50%;
    height: 5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    color: white;
    background-color: #474a51;
    font-weight: 900;
    text-transform: uppercase;
}

.project-text button:hover {
    opacity: 0.8;
}

.btn-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5rem;
}

/* SKILLS */

#skills a {
    color: #0000ff;
    font-weight: 900;
    text-decoration: underline;
}

#skills img {
    width: 5rem;
    margin: 10px 30px 10px 0;
}

.accordion {
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.item-accordion {
    background-color: #f6f6f6;
    padding: 3rem;
    border-radius: 3rem;
}

.title-accordion{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
}

.title-accordion::after{
    content: "+";
    font-size: 3.5rem;
    margin-left: auto;
}

.activite-accordion::after{
    content: "-";
}

.text-accordion{
    max-height: 0;
    overflow: hidden;
    transition: 500ms ease max-height;
    font-size: 20px;
    text-align: justify;
}

/* FOOTER */

footer {
    padding-block: 5rem;
    background-color: #f6f6f6;
}

.footer-contact {
    font-size: 1.8rem;
}

.footer-ico {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.footer-ico a img {
    width: 75%;
}

/* EDIT SCROOL */

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #474a51;
    border-radius: 25px;
    border: 2px solid white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 333px) {

    .mobile_btn img {
        width: 3.5rem;
    }

    .header_logo img {
        width: 3.5rem;
    }

    .title {
        font-size: 3rem;
    }

    .title-accordion{
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .ico {
        display: none;
    }

    .btn-project {
        display: initial;
        align-items: initial;
        padding-inline: initial;
    }

    .scrolldown {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        width: 2rem;
        height: 2rem;
        transform: translateY(-4rem) translateX(-50%) rotate(45deg);
    }
    
    .hero-text h1 {
        padding-block: 1.5rem;
    }

    .hero-text {
        padding-block: 1.5rem;
    }
}
/*=== MEDIA QUERIES 1024px =================================*/

@media screen and (min-width: 1024px) {

    .wrapper {
        width: min(130rem, 100%);
        display: grid;
    }

    .header_aside {
        display: block;
    }

    .mobile_btn {
        display: none;
    }

    section {
        padding-block: 10rem;
    }

    .title {
        font-size: 5rem;
    }

    /*=== HERO SECTION 1024px =================================*/

    .hero-img {
        display: block;
    }

    #hero-section {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    #hero-section .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'A B';
    }

    #hero-section .col-a {
        grid-area: A;
        text-align: left;
        align-self: center;    
    }

    #hero-section .col-a h1 {
        font-size: 7rem;   
    }

    #hero-section .col-a h2 {
        font-size: 4rem;   
    }
    
    #hero-section .col-b {
        grid-area: B;
        align-self: center;

    }

    #hero-section .hero-btn {
        flex-direction: row;
        justify-content: left;
    }

    .hero-btn button {
        width: 18rem;
        height: 5rem;
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }

    /*=== ABOUT 1024px =================================*/

#about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'A B';
}

#about .col-a {
    grid-area: A;
    align-self: center;
}

.col-a .about-img img {
    max-width: 70%;
}

#about .col-b {
    grid-area: B;
    align-self: center;
}

.col-b .about-text {
    text-align:justify;
}

    /*=== PROJECTS 1024px =================================*/

#projects .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.project-text h3 {
    font-size: 4rem;    
}

    /*=== SKILLS 1024px =================================*/

.title-accordion {
    font-size: 4rem;    
}
    
#skills img {
    width: 8rem;
}

    /*=== FOOTER 1024px =================================*/

footer .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    align-items: center;
}

.footer-contact h4 {
    font-size: 2.2rem;
}

.footer-ico {
    gap: 0;
    margin-top: 0;
}

.footer-ico a img {
    width: 40%;
}

}

.half-underlined {
    position: relative;
    display: inline-block;
  }
  
  .half-underlined::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%; /* Sublinhado se estende por toda a largura */
    height: 5px; /* Espessura do sublinhado */
    background-color: #000; /* Cor do sublinhado */
  }