* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 60px;
    background-color: #f9fbfc;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 50px;
    text-transform: uppercase;
}

.espacamento {
    padding: 3% 7%;
}

/* Início Cabeçalho */

header {
    width: 100%;
    top: 0;
    position: fixed;
    background: white;
    box-shadow: 0 4px 6px 0 #888;
}

.header_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.header_logo img {
    display: flex;
    align-items: center;
    width: 50px;
    margin-right: 5px;
}

.header_logo a {
    display: flex;
    align-items: center;
    color: black;
}

.header_logo a:hover {
    color: #474a51;
}

.header_aside {
    display: flex;
}

.header_nav {
    display: flex;
    font-size: 18px;
}

.header_nav ul {
    display: flex;
}

.header_nav ul li {
    display: flex;
    padding-right: 50px;
}

.header_nav ul li:last-child {
    padding-right: 0; 
}

.header_nav ul li a {
    color: black;
}

.header_nav ul li a:hover {
    color: #474a51;
}

/* Fim Cabeçalho */

/* Iníco Home */

.banner-principal {
    background-color: #f6f6f6;
    padding: 1.5% 4%;
    min-height: 50vh;
    display: flex;
    align-items: center;

}

.pagina-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-texto {
    min-width: 600px;    
}

.conteudo-texto h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}

.conteudo-texto h1 {
    font-size: 5rem;
}

.conteudo-img img {
    max-width: 90%;
}

.conteudo-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.conteudo-btn button {
    background-color: #474a51;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 80px;
    border: none;
    box-shadow: 0 4px 6px 0 #888;
    margin: 10px;
}

.conteudo-btn button:hover {
    opacity: 0.8;
}

.conteudo-btn button a {
    color: white;
    font-size: 30px;
}

/* Fim Home */

/* Início Sobre */

.sobre_mim {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    padding: 30px 0 30px;
}

.sobre_mim img {
    width: 350px;
    margin: 20px;
}

.txt_sobre {
    max-width: 900px;
}

.txt_sobre p {
    margin-bottom: 10px;
    font-size: 1.3em;
    text-align: justify;
}

/* Fim Sobre */

/* Início Projetos */

#projetos {
    background-color: #f6f6f6;
}

.projetos_base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px;
    border-bottom: 2px solid #474a51;
}

.projetos_base img {
    width: 400px;
    margin: 20px;
}

.txt_proj {
    width: 900px;
}

.txt_proj h3 {
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: uppercase;
}

.txt_proj p {
    font-size: 25px;
    text-align: justify;
    margin-bottom: 15px;
}

.txt_tec {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
}

.btn-proj {
    background-color: #474a51;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px 40px;
    border: none;
    box-shadow: 0 4px 6px 0 #888;
}

.btn-proj:hover {
    opacity: 0.8;
}

.btn-proj a {
    color: white;
    font-size: 20px;
}

/* Fim Projetos */

/* Início Habilidades */

.agrupador_cards {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 30px;
}

.cards {
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0 4px 6px 0 #888;
    margin: 15px;
}

.hab_imagem{
    display: flex;
    justify-content:center;
}

.img_hab {
    width: 100px;
    height: 100px;
    padding: 30px 0 30px;
}

.hab_titulo {
    display: flex;
    justify-content:center;
    font-size: 30px;
    padding-bottom: 20px;
}

.hab_texto {
    display: flex;
    justify-content:center;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    padding: 0 10px 20px 10px;
}

.hab_btn {
    display: flex;
    justify-content:center;
}

.hab_btn_conf {
    display: flex;
    justify-content: flex-end;
    background-color: #474a51;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    box-shadow: 0 4px 6px 0 #888;
}

.hab_btn_conf:hover {
    opacity: 0.8;
}

.hab_btn_conf a {
    color: white;
    font-size: 15px;
}

/* Fim Habilidades */

/* Início Footer */

footer {
    padding: 30px 0px 30px;
    background-color: #f6f6f6;
}

.footer_agrup {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_icons a img {
    width: 70px;
    height: 70px;
    padding: 20px 20px;
}

.footer_contato {
    font-size: 20px;
}

/* Fim Footer */

/* Edit Scrool */

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #474a51;
    border-radius: 25px;
    border: 2px solid white;
}

/* Edit Scrool */

.mobile_btn {
    display: none;
}

.mobile_nav {
    display: none;
}

@media screen and (max-width: 1200px) {

    .pagina-principal {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        text-align: center;  

    }

    .conteudo-texto {
        min-width: 300px;    
    }

    .conteudo-texto h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
    }

    .conteudo-img img {
        max-width: 70%;
    }

    .conteudo-btn button {
        background-color: #474a51;
        border-radius: 15px;
        cursor: pointer;
        width: 200px;
        height: 80px;
        border: none;
        box-shadow: 0 4px 6px 0 #888;
        margin: 10px;
    }

}

@media screen and (max-width: 880px) {

    .header_container {
        padding: 0.2rem 0.5rem;
    }

    header {
        width: 100%;
    }

    .header_aside {
        display: none;
    }

    .mobile_btn {
        display: block;
    }

    .mobile_btn button {
        border: none;
        cursor: pointer;
    }

    .mobile_btn button img {
        display: block;
        width: 40px;
    }

    .mobile_nav {
        display: none;
    }

    .nav_item .nav-link {
        display: block;
    }
    
    .mobile_nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.2rem;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .mobile_nav ul li {
        margin-bottom: 10px;
    }

    .mobile_nav ul li a {
        color: black;
    }

    .mobile_nav ul li:last-child {
        margin-bottom: 0;
    }

    .open {
        display: block;
    }

    .conteudo-img {
        display: none;
    }

    .conteudo-btn {
        display: flex;
        flex-direction: column;
    }

    .banner-principal {
        background-color: #f6f6f6;
        padding: 40px 0px 40px;
    }

    #sobre {
        padding: 40px 0px 40px;
    }

    .agrupador_cards{
        flex-wrap: wrap;
    }
    .cards{
        width: 100%;
        margin: 12px;
    }
    

    .pagina-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .conteudo-texto {
        min-width: 300px;    
        text-align: center;  
    }

    .conteudo-texto h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
    }

    .conteudo-btn {
        padding-top: 35px;
    }
    
    .conteudo-btn button {
        width: 300px;
        height: 80px;
        margin-bottom: 10px;
    }

    .sobre_mim img {
        width: 300px;        
    }

    .sobre_mim {
        display: flex;
        flex-direction: column;
    }

    .projetos_base {
        display: flex;
        flex-direction: column;
    }

    .projetos_base img {
        width: 300px;
        padding-bottom: 20px;
    }

    .projetos_base {
        text-align: center;        
    }

    #projetos {
        background-color: #f6f6f6;
        padding: 40px 0px 40px;
    }

    .txt_tec {
        text-align: center;
        font-size: 18px;
    }

    .txt_sobre {
        max-width: 350px;
    }

    .txt_sobre h2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 40px;
        text-transform: uppercase; 
    }
    
    .txt_sobre p {
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
        line-height: 1.5rem;
    }

    #projetos h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 40px;
    }

    .txt_proj p {
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
        line-height: 1.5rem;
    }

    #habilidades {
        padding: 40px 0px 40px;
    }
    
    #habilidades h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 40px;
    }

    .txt_proj {
        max-width: 300px;
    }

    .footer_agrup {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .footer_icons {
        padding-top: 20px;
    }
}